---
import { IHeroProps } from "@types";

const { name, about, about2 } = Astro.props as IHeroProps;
---

<section>
  <h3 class="text-xl font-semibold mt-[117px]">Hey, I’m</h3>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg mb-4">
    {about}
  </p>
  <p class="dark:text-light text-lg mb-16">
    {about2}
  </p>
</section>
